<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.freeqda.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%net.sf.freeqda.main.perspective.name"
            class="net.sf.freeqda.Perspective"
            id="net.sf.freeqda.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.freeqda.view.projectview.ProjectViewer"
            id="net.sf.freeqda.projectview.ProjectViewer"
            name="%net.sf.freeqda.main.view.name"
            restorable="true">
      </view>
      <view
            class="net.sf.freeqda.view.tagview.TagViewer"
            id="net.sf.freeqda.tagview.TagViewer"
            name="%net.sf.freeqda.main.view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="net.sf.freeqda.projectview.ProjectViewer"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.freeqda.tagview.TagViewer"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="bottom"
               relative="net.sf.freeqda.projectview.ProjectViewer"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="net.sf.freeqda.fileMenu"
               label="%net.sf.freeqda.main.menu.label">
            <command
                  commandId="net.sf.freeqda.common.CreateProject"
                  label="%net.sf.freeqda.main.command.label"
                  style="push">
            </command>
            <separator
                  name="FreeQDA.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.sf.freeqda.common.LoadProject"
                  label="%net.sf.freeqda.main.command.label.0"
                  style="push">
            </command>
            <command
                  commandId="net.sf.freeqda.common.SaveProject"
                  label="%net.sf.freeqda.main.command.label.1"
                  style="push">
            </command>
            <separator
                  name="net.sf.freeqda.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.sf.freeqda.common.CloseProject"
                  label="%net.sf.freeqda.main.command.label.2"
                  style="push">
            </command>
            <separator
                  name="FreeQDA.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="net.sf.freeqda.common.PrintCurrent"
                  label="%net.sf.freeqda.main.command.label.3"
                  style="push">
            </command>
            <separator
                  name="FreeQDA.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%net.sf.freeqda.main.command.label.4">
            </command>
         </menu>
         <menu
               id="net.sf.freeqda.editMenu"
               label="%net.sf.freeqda.main.menu.label.0">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.sf.freeqda.textMenu"
               label="%net.sf.freeqda.main.menu.label.1">
         </menu>
         <menu
               id="net.sf.freeqda.codesMenu"
               label="%net.sf.freeqda.main.menu.label.2">
            <dynamic
                  class="net.sf.freeqda.view.tagview.commands.contributions.DynamicTagViewContributionItem"
                  id="net.sf.freeqda.tagview.dynamicCompoundContributionItem">
            </dynamic>
            <separator
                  name="net.sf.freeqda.tagview.separator1"
                  visible="true">
            </separator>
            <menu
                  label="%net.sf.freeqda.main.menu.label.3">
               <dynamic
                     class="net.sf.freeqda.editor.stylededitor.commands.contributions.DynamicCompoundContributionItem2"
                     id="net.sf.freeqda.stylededitor.commands.contributions.dynamicCompoundContributionItem2">
               </dynamic>
            </menu>
            <separator
                  name="net.sf.freeqda.tagview.separator2"
                  visible="true">
            </separator>
            <dynamic
                  class="net.sf.freeqda.editor.stylededitor.commands.contributions.DynamicCompoundContributionItem"
                  id="net.sf.freeqda.stylededitor.commands.contributions.dynamicCompoundContributionItem">
            </dynamic>
         </menu>
         <menu
               id="net.sf.freeqda.projectMenu"
               label="%net.sf.freeqda.main.menu.label.4">
            <command
                  commandId="net.sf.freeqda.projectview.commands.activateText"
                  label="%net.sf.freeqda.main.command.label.5"
                  style="toggle">
            </command>
            <dynamic
                  class="net.sf.freeqda.view.projectview.commands.contributions.DynamicProjectViewContributionItem"
                  id="net.sf.freeqda.tagview.dynamicProjectViewContributionItem">
            </dynamic>
         </menu>
         <menu
               id="net.sf.freeqda.helpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Check for Updates"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.sf.freeqda.tagview.TagViewer">
         <dynamic
               class="net.sf.freeqda.view.tagview.commands.contributions.DynamicTagViewContributionItem"
               id="net.sf.freeqda.tagview.dynamicTagViewContributionItem">
         </dynamic>

         <separator
               name="net.sf.freeqda.tagview.separator1"
               visible="true">
         </separator>
 
         <menu label="%net.sf.freeqda.main.menu.label.5">
            <dynamic
                  class="net.sf.freeqda.editor.stylededitor.commands.contributions.DynamicCompoundContributionItem2"
                  id="net.sf.freeqda.stylededitor.commands.contributions.dynamicCompoundContributionItem2">
            </dynamic>
         </menu>

         <separator
               name="net.sf.freeqda.tagview.separator2"
               visible="true">
         </separator>

         <dynamic
               class="net.sf.freeqda.editor.stylededitor.commands.contributions.DynamicCompoundContributionItem"
               id="net.sf.freeqda.stylededitor.commands.contributions.dynamicCompoundContributionItem">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.sf.freeqda.projectview.ProjectViewer">
         <command
               commandId="net.sf.freeqda.projectview.commands.activateText"
               label="%net.sf.freeqda.main.command.label.6"
               style="toggle">
         </command>
         <dynamic
               class="net.sf.freeqda.view.projectview.commands.contributions.DynamicProjectViewContributionItem"
               id="net.sf.freeqda.tagview.dynamicProjectViewContributionItem">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.freeqda.application"
            name="FreeQDA">
         <property
               name="appName"
               value="FreeQDA">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Free QDA &#x0A;&#x0A;Version: 0.9.1&#x0A;Build: 20110916	&#x0A;&#x0A;A free and open source tool to analyze data of qualitative research projects&#x0A;&#x0A;FreeQDA is a software for professional qualitative research data analysis, such as interviews, manuscripts, journal articles, memos and field notes.&#x0A;&#x0A;Licensed under the GNU Public License, Version 3.">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_48.png">
         </property>
      </product>
   </extension>
   
   <extension
         id="handler."
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.freeqda.view.tagview.commands.DocumentSelectionAddTagHandler"
            commandId="net.sf.freeqda.tagview.commands.applyTag">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.DocumentSelectionRemoveTagHandler"
            commandId="net.sf.freeqda.tagview.commands.removeTag">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.DocumentSelectionRemoveAllTagsHandler"
            commandId="net.sf.freeqda.tagview.commands.removeAllTags">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.CreateTagNodeHandler"
            commandId="net.sf.freeqda.tagview.commands.createTagNode">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.EditTagNodeHandler"
            commandId="net.sf.freeqda.tagview.commands.editTagNode">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.DeleteTagNodeHandler"
            commandId="net.sf.freeqda.tagview.commands.deleteTagNode">
      </handler>
      <handler
            class="net.sf.freeqda.editor.stylededitor.commands.RemoveTagFromSelectionHandler"
            commandId="net.sf.freeqda.stylededitor.commands.removeTagFromSelection">
      </handler>
      <handler
            class="net.sf.freeqda.view.tagview.commands.ShowTagOverviewHandler"
            commandId="net.sf.freeqda.tagview.commands.showOverview">
      </handler>
   </extension> 

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.freeqda.editor.stylededitor.StyledEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="net.sf.freeqda.stylededitor.StyledEditor"
            name="%net.sf.freeqda.main.editor.name">
      </editor>
      <editor
            class="net.sf.freeqda.editor.tagoverview.TaggedPassagesEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="net.sf.freeqda.stylededitor.TagOverviewEditor"
            name="%net.sf.freeqda.main.editor.name.0">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.freeqda.common.handler.NewProjectHandler"
            id="net.sf.freeqda.common.CreateProject"
            name="%net.sf.freeqda.main.command.name">
      </command>  
      <command
            defaultHandler="net.sf.freeqda.common.handler.SaveProjectHandler"
            id="net.sf.freeqda.common.SaveProject"
            name="%net.sf.freeqda.main.command.name.0">
      </command>
      <command
            defaultHandler="net.sf.freeqda.common.handler.LoadProjectHandler"
            id="net.sf.freeqda.common.LoadProject"
            name="%net.sf.freeqda.main.command.name.1">
      </command>
      <command
            defaultHandler="net.sf.freeqda.editor.stylededitor.commands.CallEditorHandler"
            id="net.sf.freeqda.common.callEditor"
            name="%net.sf.freeqda.main.command.name.2">
      </command>
      <command
            defaultHandler="net.sf.freeqda.common.handler.CloseProjectHandler"
            id="net.sf.freeqda.common.CloseProject"
            name="%net.sf.freeqda.main.command.name.3">
      </command>
      <command
            defaultHandler="net.sf.freeqda.common.handler.PrintCurrentHandler"
            id="net.sf.freeqda.common.PrintCurrent"
            name="%net.sf.freeqda.main.command.name.4">
      </command>
      <category
            id="net.sf.freeqda.tagview.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.applyTag"
            name="%command.name.5">
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.createTagNode"
            name="%command.name.6">
      </command>
      <command
            id="net.sf.freeqda.stylededitor.commands.removeTagFromSelection"
            name="%command.name.7">
         <commandParameter
               id="net.sf.freeqda.stylededitor.commands.removeTagFromSelection.tagUID"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.deleteTagNode"
            name="%command.name.8">
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.editTagNode"
            name="%command.name.9">
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.removeTag"
            name="%command.name.10">
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.removeAllTags"
            name="%command.name.11">
      </command>
      <command
            categoryId="net.sf.freeqda.tagview.commands.category"
            id="net.sf.freeqda.tagview.commands.showOverview"
            name="%command.name.12">
      </command>
      <category
            id="net.sf.freeqda.projectview.commands.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.NewTextHandler"
            id="net.sf.freeqda.projectview.commands.newText"
            name="%command.name.13">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.NewTextCategoryHandler"
            id="net.sf.freeqda.projectview.commands.newCategory"
            name="%command.name.14">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.DeleteCategoryHandler"
            id="net.sf.freeqda.projectview.commands.deleteCategory"
            name="%command.name.15">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.EditCategoryHandler"
            id="net.sf.freeqda.projectview.commands.editCategory"
            name="%command.name.16">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.ActivateTextHandler"
            id="net.sf.freeqda.projectview.commands.activateText"
            name="%command.name.17">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="net.sf.freeqda.projectview.commands.activateText.state">
         </state>
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.OpenTextHandler"
            id="net.sf.freeqda.projectview.commands.openText"
            name="%command.name.18">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.EditTextHandler"
            id="net.sf.freeqda.projectview.commands.editText"
            name="%command.name.19">
      </command>
      <command
            categoryId="net.sf.freeqda.projectview.commands.category"
            defaultHandler="net.sf.freeqda.view.projectview.commands.DeleteTextHandler"
            id="net.sf.freeqda.projectview.commands.deleteText"
            name="%command.name.20">
      </command>
   </extension>
   
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.freeqda.application"
            name="%product.name.0">
         <property
               name="appName"
               value="Free QDA">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_48.png">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Free QDA &#x0A;&#x0A;Version: {0}&#x0A;Build: {1}&#x0A;&#x0A;A free and open source tool to analyze data of qualitative research projects&#x0A;&#x0A;FreeQDA is a software for professional qualitative research data analysis, such as interviews, manuscripts, journal articles, memos and field notes.&#x0A;&#x0A;Licensed under the GNU Pulic License, Version 2.">
         </property>
      </product>
   </extension>
 
    <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="net.sf.freeqda.editor.stylededitor.TextSelectionState">
         <variable
               name="net.sf.freeqda.stylededitor.textSelected"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="true"
             class="net.sf.freeqda.view.projectview.TextNodeLightweightDecorator"
             id="net.sf.freeqda.projectview.decorator.activation"
             label="%decorator.label"
             lightweight="true"
             location="TOP_LEFT"
             objectClass="net.sf.freeqda.common.projectmanager.TextNode"
             state="true">
          <description>
             %decorator.description
          </description>
       </decorator>
       <decorator
             adaptable="true"
             class="net.sf.freeqda.view.tagview.TagNodeLightweightDecorator"
             id="net.sf.freeqda.tagview.decorator.activation"
             label="%decorator.label.0"
             lightweight="true"
             location="TOP_LEFT"
             objectClass="net.sf.freeqda.common.tagregistry.TagNode"
             state="true">
          <description>
             %decorator.description.0
          </description>
       </decorator>
    </extension>
    <extension
          point="org.eclipse.help.toc">
    </extension>
    <extension
          id="FreeQDA"
          point="org.eclipse.core.runtime.products">
       <product
             application="net.sf.freeqda.application"
             name="Free QDA">
          <property
                name="windowImages"
                value="/FreeQDA/icons/icon_16.png,/FreeQDA/icons/icon_32.png,/FreeQDA/icons/icon_48.png">
          </property>
          <property
                name="aboutText"
                value="Free QDA &#x0A;&#x0A;Version: {0}&#x0A;Build: {1}&#x0A;&#x0A;A free and open source tool to analyze data of qualitative research projects&#x0A;&#x0A;FreeQDA is a software for professional qualitative research data analysis, such as interviews, manuscripts, journal articles, memos and field notes.&#x0A;&#x0A;Licensed under the GNU Public License, Version 2.">
          </property>
          <property
                name="aboutImage"
                value="/FreeQDA/icons/about.gif">
          </property>
       </product>
    </extension>
    <extension
          id="FreeQDA_Application"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.pde.build.Build"
             name="Free QDA">
          <property
                name="windowImages"
                value="icons/icon_16.png,icons/icon_32.png,icons/icon_48.png">
          </property>
          <property
                name="aboutText"
                value="Free QDA &#x0A;&#x0A;Version: {0}&#x0A;Build: {1}&#x0A;&#x0A;A free and open source tool to analyze data of qualitative research projects&#x0A;&#x0A;FreeQDA is a software for professional qualitative research data analysis, such as interviews, manuscripts, journal articles, memos and field notes.&#x0A;&#x0A;Licensed under the GNU Public License, Version 2.">
          </property>
          <property
                name="aboutImage"
                value="icons/about.gif">
          </property>
          <property
                name="appName"
                value="Free QDA">
          </property>
       </product>
    </extension>
    <extension
          id="freeqdatest"
          point="org.eclipse.core.runtime.products">
       <product
             application="net.sf.freeqda.application"
             name="FQDA Test">
          <property
                name="appName"
                value="FQDA Test">
          </property>
       </product>
    </extension>
</plugin>
